<div>
    <div>
        <table class='confMatrixTable'>
            <tr><td class='cmatrix_title_text confMatrixTableSide'>Actual\Predicted</td>{CFM_HEADERS}</tr>
            {CFM_DATA1}
        </table>
    </div>
    <div>
        <table class='confMatrixTable'>
            <tr>
                <td class='cmatrix_title_text confMatrixTableSide'>Metrics</td>
                <td class='cmatrix_header'>Precision</td>
                <td class='cmatrix_header'>Recall</td>
                <td class='cmatrix_header'>F1</td>
            </tr>
            {CFM_DATA2}
        </table>
    </div>
</div>